<div class="contact">
  <h3>Contact</h3>
  <div class="social-icons">
    <a href="mailto:omar@saqrware.com" title="Email: omar@saqrware.com" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://github.com/SaqrWare" title="GitHub" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
    <a href="https://wa.me/saqrware" title="WhatsApp: @saqrware" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="https://twitter.com/SaqrWare" title="Twitter" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://fb.me/saqrware" title="Facebook" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/saqrware" title="Instagram" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://t.me/saqrware" title="Telegram" aria-label="Telegram"><i class="fa-brands fa-telegram"></i></a>
  </div>
</div>
