<div class="contact">
  <h3>Contact</h3>
  <ul>
    <li><strong>Email:</strong><br><a href="mailto:omar@saqrware.com">omar@saqrware.com</a></li>
    <li><strong>Phone:</strong><br><a href="tel:+201142513245">+20 114 251 3245</a></li>
    <li><strong>Socials:</strong><br>
      <a href="https://twitter.com/SaqrWare">Twitter</a> &middot;
      <a href="https://fb.me/saqrware">Facebook</a> &middot;
      <a href="https://www.instagram.com/saqrware">Instagram</a> &middot;
      <a href="https://t.me/saqrware">Telegram</a>
    </li>
  </ul>
</div>
